In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
# loading the imdb_full_info_df and inflation_date
imdb_full_info_df = pd.read_csv('imdb_full_info_df.csv')
star_df = pd.read_csv('Star_score.csv', sep=';')

In [3]:
# removing comma in star's name
star_df['Star'] = star_df['Star'].str.replace(',','')

In [110]:
cast_1_score = []
cast_2_score = []
cast_3_score = []

In [111]:
# getting score for cast_1
for i in range(0, len(imdb_full_info_df)):
    year = int(imdb_full_info_df['release_date'][i][:4])
    df = star_df[star_df['Year']==year-1]
    filtering = df[df['Star']==imdb_full_info_df['cast_1'][i]]
    if (len(filtering) == 1):
        cast_1_score.append(int(filtering.Score))
    else:
        cast_1_score.append(0)

In [113]:
# getting score for cast_2
for i in range(0, len(imdb_full_info_df)):
    year = int(imdb_full_info_df['release_date'][i][:4])
    df = star_df[star_df['Year']==year-1]
    filtering = df[df['Star']==imdb_full_info_df['cast_2'][i]]
    if (len(filtering) == 1):
        cast_2_score.append(int(filtering.Score))
    else:
        cast_2_score.append(0)

In [114]:
# getting score for cast_3
for i in range(0, len(imdb_full_info_df)):
    year = int(imdb_full_info_df['release_date'][i][:4])
    df = star_df[star_df['Year']==year-1]
    filtering = df[df['Star']==imdb_full_info_df['cast_3'][i]]
    if (len(filtering) == 1):
        cast_3_score.append(int(filtering.Score))
    else:
        cast_3_score.append(0)

In [115]:
print(len(cast_1_score))
print(len(cast_2_score))
print(len(cast_3_score))

3314
3314
3314

In [122]:
# creating a dataframe for cast score
cast_score_df = pd.DataFrame(columns=['movie_title', 'cast_1_score', 'cast_2_score', 'cast_3_score'])
cast_score_df['movie_title'] = imdb_full_info_df['title']
cast_score_df['cast_1_score'] = cast_1_score
cast_score_df['cast_2_score'] = cast_2_score
cast_score_df['cast_3_score'] = cast_3_score

In [124]:
cast_score_df['cast_score'] = cast_score_df['cast_1_score'] + cast_score_df['cast_2_score'] + cast_score_df['cast_3_score']

In [125]:
cast_score_df

,movie_title,cast_1_score,cast_2_score,cast_3_score,cast_score
0,Avengers: Endgame,295,200,266,761
1,Pirates of the Caribbean: On Stranger Tides,260,48,0,308
2,Avengers: Age of Ultron,206,214,179,599
3,Star Wars Episode VII: The Force Awakens,0,0,0,0
4,Avengers: Infinity War,292,314,281,887
...,...,...,...,...,...
3309,Tucker & Dale vs. Evil,0,0,0,0
3310,Redacted,0,0,0,0
3311,Rudderless,0,0,0,0
3312,Mientras duermes,0,0,0,0
3313,Flying By,0,0,0,0

In [9]:
star_df[star_df['Star']=='Daisy Ridley']

      Rank          Star  Score  Nr. Movies  Billing  Year
6434   100  Daisy Ridley    100           1      5.0  2015
6985   104  Daisy Ridley    100           1      5.0  2016
7477     9  Daisy Ridley    275           3      6.0  2017
8120    64  Daisy Ridley    175           2      6.5  2018

In [4]:
imdb_full_info_df

,release_date,budget,domestic_gross,worldwide_gross,title,imdb_rating,cast_1,cast_2,cast_3,movie_url,imdb_id,director,rating_check,runtime,genre,director.1
0,2019-04-23,400000000,858373000,2797800564,Avengers: Endgame,8.4,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt4154796/,tt4154796,Anthony Russo,8.4,['181'],"['Action', 'Adventure', 'Drama', 'Sci-Fi']",Anthony Russo
1,2011-05-20,379000000,241071802,1045713802,Pirates of the Caribbean: On Stranger Tides,6.6,Johnny Depp,PenÃ©lope Cruz,Ian McShane,https://www.imdb.com/title/tt1298650/,tt1298650,Rob Marshall,6.6,['137'],"['Action', 'Adventure', 'Fantasy']",Rob Marshall
2,2015-04-22,365000000,459005868,1395316979,Avengers: Age of Ultron,7.3,Robert Downey Jr.,Chris Evans,Mark Ruffalo,https://www.imdb.com/title/tt2395427/,tt2395427,Joss Whedon,7.3,['141'],"['Action', 'Adventure', 'Sci-Fi']",Joss Whedon
3,2015-12-16,306000000,936662225,2064615817,Star Wars Episode VII: The Force Awakens,7.9,Daisy Ridley,John Boyega,Oscar Isaac,https://www.imdb.com/title/tt2488496/,tt2488496,J.J. Abrams,7.9,['138'],"['Action', 'Adventure', 'Sci-Fi']",J.J. Abrams
4,2018-04-25,300000000,678815482,2048359754,Avengers: Infinity War,8.5,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,https://www.imdb.com/title/tt4154756/,tt4154756,Anthony Russo,8.5,['149'],"['Action', 'Adventure', 'Sci-Fi']",Anthony Russo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3309,2011-09-30,5000000,223838,5476793,Tucker & Dale vs. Evil,7.5,Tyler Labine,Alan Tudyk,Katrina Bowden,https://www.imdb.com/title/tt1465522/,tt1465522,Eli Craig,7.5,['89'],"['Comedy', 'Horror']",Eli Craig
3310,2007-11-16,5000000,65388,861325,Redacted,6.1,Patrick Carroll,Rob Devaney,Izzy Diaz,https://www.imdb.com/title/tt0937237/,tt0937237,Brian De Palma,6.1,['90'],"['Crime', 'Thriller', 'War']",Brian De Palma
3311,2014-10-17,5000000,56001,584499,Rudderless,7.4,Billy Crudup,Anton Yelchin,Felicity Huffman,https://www.imdb.com/title/tt1798243/,tt1798243,William H. Macy,7.4,['105'],"['Comedy', 'Drama', 'Music']",William H. Macy
3312,2012-05-17,5000000,0,9109597,Mientras duermes,7.2,Luis Tosar,Marta Etura,Alberto San Juan,https://www.imdb.com/title/tt1437358/,tt1437358,Jaume BalaguerÃ³,7.2,['102'],"['Crime', 'Drama', 'Thriller']",Jaume BalaguerÃ³
3313,2009-07-07,5000000,0,4568257,Flying By,4.3,Billy Ray Cyrus,Heather Locklear,Patricia Neal,https://www.imdb.com/title/tt1131732/,tt1131732,Jim Amatulli,4.3,['90'],"['Drama', 'Family', 'Music']",Jim Amatulli

In [128]:
# saving the cast_score_df
filepath = Path('cast_score_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
cast_score_df.to_csv(filepath, index=False)